body {
    background: url("bg_img.jpeg"); 
    font-family:sans-serif; 
    font-weight:bold; 
    font-size:16pt;
}

.topmatter {
    display: inline-block;
    height: auto;
    width: 100%;
}

.bottommatter {
    display:inline-block;
    width: 100%;
    height: auto;
}

/* NickName Box */
.nick-container {
    box-sizing: border-box;
    display: inline-block;
    background-color: #ebe2ce;
    padding-top: 12px;
    padding-left: 15px;
    border-radius: 20px;
    border: 1px #6f5a2d solid;
    width: 210px;
    height: 100px;
    position: absolute;
    top:7%;
    left: 40%;
}

.nick-container>label {
    color:#6f5a2d;
    padding-left: 6px;
    position: absolute;
    left: auto;
    right: auto;
}

.nick-container>input {
    text-align: center;
    border-radius: 5px;
    border: 1px #6f5a2d solid;
    margin-left: 3px;
    
}

.name-button {
    border-radius: 20px;
    border: 1px #6f5a2d solid;
    background-color: #ebe2ce;
    color:#6f5a2d;
    font-family:sans-serif; 
    font-weight:bold; 
    font-size:13pt;
    position: absolute;
    top:60%;
    left: 12%;
    right: auto;
}

.name-button:hover {
    cursor: pointer;
}

.nick-container>button {
    margin-top: 8px;
    margin-left: 50px;
}

/* Letter Input Box */
.letter-input-container {
    width: 150px;
    padding-left: 17px;
    color:#6f5a2d;
    margin-bottom: 20%;
}


.letter-input-container,.input-area {
    display: inline-block;
    position: absolute;
    top: 15%;
    right: 10%;
}

.letter-type-container {
    display: inline-block;
    position: absolute;
    top: 7%;
    right: 10%;
    border-radius: 20px;
    border: 1px #6f5a2d solid;
    background-color: #ebe2ce;
    width: 210px;
    height: 75px;
}

.input-area {
    top: 50%;
    right: 40%;
}

#letter-input {
    text-align: center;
    border-radius: 5px;
    border: 1px #6f5a2d solid;
}

/* Tested Letters Box */
.tested-letters>.container-title {
    color:#6f5a2d;
    position: absolute;
    top: 14%;
    right: 20%;
}

.tested-letters {
    display: inline-block;
    position: absolute;
    top: 27%;
    right: 10%;
    border-radius: 20px;
    border: 1px #6f5a2d solid;
    background-color: #ebe2ce;
    width: 210px;
    height: 75px;
}

#wrong-letters {
    text-align: center;
}


/* Word Box */
.word-box {
    width:250px;
    margin:auto;
    margin-top:25px;
    text-align:center;
}
.word-display {
    background:#ebe2ce;
    border:1px #6f5a2d solid;
    height:31px;
    padding:3pt;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
}
.shown-letter {
    border-bottom: 3px #000 solid;
    padding: 0 2px;
    margin: 0 2px;
    color:#1c2025;
}

/* Records */
.record-button {
    display: inline-block;
    margin-left: 20px;
    text-align: center;
    width: 90px;
    border-radius: 20px;
    border: 1px #6f5a2d solid;
    background-color: #ebe2ce;
    color:#6f5a2d;
    font-family:sans-serif; 
    font-weight:bold; 
    font-size:13pt;
}

.record-button:hover {
    cursor: pointer;
}

.empty-ul {
    border: 0;
    background-color: F1F1F1;
}

ul,li {
    display: inline-block;
    
}

ul {
    margin-left: 20px;
    height: auto;
    width: auto;
    padding: 10px;
}


li {
    color:#6f5a2d;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px #6f5a2d solid;
    background-color: #ebe2ce;
}

li:hover {
    cursor: default;
}

/* Hangman Area */
.hang-container {
    display: inline-block;
    margin-top: 30px;
    margin-left: 3%;
    margin-right: 90px; 
    margin-bottom: 20px;
    width:200px;
    height:205px;
}
.scaffolding-top {
    width:108px;
    height:5px;
    background:#B79541 /*#332915*/;
}
.scaffolding-left {
    width:5px;
    height:200px;
    background:#B79541;
    float:left;
}
.scaffolding-base {
    width:150px;
    height:5px;
    background:#B79541;
}
.draw-area {
    width:200px;
    height:200px;
    text-align:center;
}
.rope {
    margin:auto;
    height:25px;
    width:5px;
    background:#a59885;
}
.head {
    margin:auto;
    height:30px;
    width:30px;
    background:#000;
    -webkit-border-radius: 15px;
    -moz-border-radius:15px;
    border-radius:15px;
}
.armbox {
    margin:auto;
    width:100px;
}
.leftarm {
    float:left;
    height:10px;
    width:45px;
    background:#000;
}
.rightarm {
    float:right;
    height:10px;
    width:45px;
    background:#000;
}
.torso {
    margin:auto;
    width:10px;
    height:50px;
    background:#000;
}
.legbox {
    margin:auto;
    height:60px;
    width:30px;
}
.leftleg {
    float:left;
    width:10px;
    height:60px;
    background:#000;
}
.rightleg {
    float:right;
    width:10px;
    height:60px;
    background:#000;
}
.pelvis {
    margin:auto;
    height:10px;
    width:10px;
    background:#000;
}

.none {
    display: none;
}